/*========================
HEADER
=========================*/
body {
    text-align: center;
}

header {
    display: inline-block;
    width: 100%;
    text-align: center;
}

    .main-nav {
        display: inline-block;
        width: 75%;
        margin: 20px 0; 
    }

        .logo {
            float: left;
            padding: 5px;
            margin: 0 10px;
        }

        .main-nav-right {
            display: inline-block;
            float: right;
        }

            .main-nav-right > a {
                display: inline-block;
                color: #3B28EA;
                font-size: 20px;
                text-decoration: none;
            }

            .features::after {
                content: '';
                display: block;
                width: 0;
                border-bottom: 2px solid #3B28EA;
                transition: all .5s;
            }

            .features:hover::after {
                width: 100%;
            }

            .features {
                padding: 10px 20px;
            }

            .support {
                border: 1px solid #3b28ea;
                border-radius: 20px;
                padding: 10px 30px;
            }

            .support:hover {
                background:#3B28EA;
                color: #fff;
            }

/*========================
Container-1
=========================*/

.container-1 {
    display: inline-block;
    width: 75%;
    margin-top: 80px;
}

    .container-1 h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .container-1 p {
        font-size: 28px;
    }

    .hero-img {
        margin: 40px;
    }


/*========================
Container-2
=========================*/

.container-2 {
    display: inline-block;
    width: 100%;
    background:#3B28EA;
    padding: 80px 0;
}

    .wraper2 {
        display: inline-block;
        width: 75%;
    }

    .left {
        display: inline-block;
        width: 40%;
        float: left;
        color: #FFBFD9;
        padding: 10px;
    }
        
        .left h3 {
            font-size: 22px;
            text-align: start;
            margin-bottom: 16px;
            text-transform: uppercase;
            font-weight: 200;
        }

        .left h2 {
            font-size: 48px;
            text-align: start;
            margin-bottom: 32px;
            word-break: break-word; 
        }

        .left p {
            font-size: 22px;
            line-height: 34px;
            text-align: start;
            color: #FFFFFE;
        }

    .right {
        display: inline-block;
        width: 60%;
        float: right;
        text-align: center;
    }

    .feature-1 {
        display: inline-block;
        width: 48%;
    }

    .feature-1 > p {
        display: inline-block;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 40px;
        color: #14EFB5;
        font-size: 24px;
    }

    
/*========================
Container-3
=========================*/

.container-3 {
    display: inline-block;
    width: 75%;
    margin: 100px 0;
}

    .block {
        display: inline-block;
        width: 30%;
        border: 1px solid #E4E4E4;
        border-radius: 8px;
        padding-bottom: 60px;
    }

    .middle {
        margin: 0 16px;
    }

    .container-3 h2 {
        font-size: 30px;
        color: #3B28EA;
        margin: 40px 20px 10px;
    }

    .container-3 p {
        color: #A88D98;
        text-align: center;
        padding: 10px 20px;
        margin: 20px;
        font-size: 18px;
        line-height: 26px;
    }

    .container-3 img {
        width: 50%;
    }

/*========================
Container-4
=========================*/

.container-4 {
    display: inline-block;
    width: 100%;
    background-color: #3B28EA;
    padding: 100px 0;
}

    .wraper4 {
        display: inline-block;
        width: 75%;
    }

    .wraper4-text {
        display: inline-block;
        width: 60%;
        float: left;
        color: #fff;
        text-align: start;
        margin-left: 36px;
    }

    .wraper4-text h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .wraper4-text h3 {
        font-size: 32px;
        font-weight: 200;
    }

    .wraper4 a {
        display: inline-block;
        text-decoration: none;
        background-color: #fff;
        padding: 16px 48px;
        border-radius: 50px;
        color: #3B28EA;
        font-size: 20px;
        float: left;
        margin-top: 28px;
        margin-left: 60px;
    }